In [5]:
import numpy as np
import pandas as pd
import matplotlib as mplt
df = pd.read_csv("C:\\Users\\ASUS\\Downloads\\Dataset of exploratory data analysis.csv")
print(df.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

In [7]:
import numpy as np
import pandas as pd

My_var = { 'Name': ["Afnan", "Naima", "Nafi", "Mirza", "Anis" , "Hasin" , "Sonia" , "Nasir"], 'Age': [34,30,14,50,64,52,42,58]}
df = pd.DataFrame(My_var)
print(df)

    Name  Age
0  Afnan   34
1  Naima   30
2   Nafi   14
3  Mirza   50
4   Anis   64
5  Hasin   52
6  Sonia   42
7  Nasir   58