In [ ]:
#Reading CSV file
import numpy as np
import pandas as pd
import matplotlib as mplt
df = pd.read_csv("C:\\Users\\ASUS\\Downloads\\Dataset of exploratory data analysis.csv")
print(df.head())

In [ ]:
#taking user input dictionary and making two dimensional dataframe and printing version of pandas
import numpy as np
import pandas as pd

My_var = { 'Name': ["Afnan", "Naima", "Nafi", "Mirza", "Anis" , "Hasin" , "Sonia" , "Nasir"], 'Age': [34,30,14,50,64,52,42,58]}
df = pd.DataFrame(My_var)
print(df)
print(pd.__version__)

In [ ]:
#Pandas is classified into two types. They are 1. Data series and  2. Data frame
import numpy as np
import pandas as pd
A = ["Mirza", "Afnan", "Islam"]
print(pd.Series(A))

In [ ]:
#Dtaframe head returns the top five rows of dataset.
import numpy as np
import pandas as pd
df = pd.read_csv("C:\\Users\\ASUS\\Downloads\\Dataset of exploratory data analysis.csv")
print(df.head())
print('\n This is the top five head info')

In [ ]:
#Dataframe specified head returns the top n rows of dataset.
import numpy as np
import pandas as pd
df = pd.read_csv("C:\\Users\\ASUS\\Downloads\\Dataset of exploratory data analysis.csv")
print(df.head(10))
print('\n This is the top ten head info')

In [ ]:
#Printing the strings with indexing format 
import numpy as np
import pandas as pd
My_var = [ "Mirza", "Afnan" , "Islam" ]
print(pd.Series(My_var, index = ["First Name" , "Middle Name", "Final Name" ]))

In [ ]:
#Working with multiple column data with a series function and indexing
import numpy as np
import pandas as pd
A = ["Nafis Al Fuad", "30", "Male"]
B = ["Saleha Khatun", "27" , "Female"]
print(pd.Series(A, index=["Name", "Age" , "Sex"]))
print(pd.Series(B, index=["Name", "Age" , "Sex"]))

In [ ]:
#Working with multiple column data with a dataframe function and indexing
import numpy as np
import pandas as pd
print(pd.DataFrame([[30,21],[40,20]],columns=["Apple","Orange"], index=["Number of Sell in Monday","Number of sell in Tuesday"]))

In [ ]:
#Converting multidimensional dataframe into one dimensional series using loc[] method
import numpy as np
import pandas as pd
df = pd.DataFrame([[20,21],[40,52]], columns=["Orange","Apple"], index=["Tuesday","Wednesday"])
print(df)
print(df.loc['Tuesday'])

In [ ]:
#printing Dataframe shape and head and tail rows
import numpy as np
import pandas as pd
df = pd.read_csv("d:\\Machine Learning\\Dataset of exploratory data analysis.csv")
print(df.head)
print(df.tail)
print(df.shape)

In [ ]:
#printing the number of maximum rows
import numpy as np
import pandas as pd
df = pd.read_csv("d:\\Machine Learning\\Dataset of exploratory data analysis.csv")
print(pd.options.display.max_rows)
#printing how many number of excel rows can the console print
print(df.to_string)

60
<bound method DataFrame.to_string of        age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]>