In [ ]:
#Reading CSV file
import numpy as np
import pandas as pd
import matplotlib as mplt
df = pd.read_csv("C:\\Users\\ASUS\\Downloads\\Dataset of exploratory data analysis.csv")
print(df.head())

In [ ]:
#taking user input dictionary and making two dimensional dataframe and printing version of pandas
import numpy as np
import pandas as pd

My_var = { 'Name': ["Afnan", "Naima", "Nafi", "Mirza", "Anis" , "Hasin" , "Sonia" , "Nasir"], 'Age': [34,30,14,50,64,52,42,58]}
df = pd.DataFrame(My_var)
print(df)
print(pd.__version__)

In [1]:
#Pandas is classified into two types. They are 1. Data series and  2. Data frame
import numpy as np
import pandas as pd
A = ["Mirza", "Afnan", "Islam"]
print(pd.Series(A))

0    Mirza
1    Afnan
2    Islam
dtype: object

In [ ]:
#Dtaframe head returns the top five rows of dataset.
import numpy as np
import pandas as pd
df = pd.read_csv("C:\\Users\\ASUS\\Downloads\\Dataset of exploratory data analysis.csv")
print(df.head())
print('\n This is the top five head info')

In [ ]:
#Dataframe specified head returns the top n rows of dataset.
import numpy as np
import pandas as pd
df = pd.read_csv("C:\\Users\\ASUS\\Downloads\\Dataset of exploratory data analysis.csv")
print(df.head(10))
print('\n This is the top ten head info')

In [ ]:
#Printing the strings with indexing format 
import numpy as np
import pandas as pd
My_var = [ "Mirza", "Afnan" , "Islam" ]
print(pd.Series(My_var, index = ["First Name" , "Middle Name", "Final Name" ]))

First Name     Mirza
Middle Name    Afnan
Final Name     Islam
dtype: object

In [6]:
#Woring with multiple column data with a series function and indexing
import numpy as np
import pandas as pd
A = ["Nafis Al Fuad", "30", "Male"]
B = ["Saleha Khatun", "27" , "Female"]
print(pd.Series(A, index=["Name", "Age" , "Sex"]))
print(pd.Series(B, index=["Name", "Age" , "Sex"]))

Name    Nafis Al Fuad
Age                30
Sex              Male
dtype: object
Name    Saleha Khatun
Age                27
Sex            Female
dtype: object