In [ ]:
#Reading CSV file
import numpy as np
import pandas as pd
import matplotlib as mplt
df = pd.read_csv("C:\\Users\\ASUS\\Downloads\\Dataset of exploratory data analysis.csv")
print(df.head())

In [ ]:
#taking user input dictionary and making two dimensional dataframe
import numpy as np
import pandas as pd

My_var = { 'Name': ["Afnan", "Naima", "Nafi", "Mirza", "Anis" , "Hasin" , "Sonia" , "Nasir"], 'Age': [34,30,14,50,64,52,42,58]}
df = pd.DataFrame(My_var)
print(df)
print(pd.__version__)

In [ ]:
#Pandas is classified into two types. They are 1. Data series and  2. Data frame
import numpy as np
import pandas as pd
A = ["Mirza", "Afnan", "Islam"]
print(pd.Series(A))

In [ ]:
#Dtaframe head returns the top five rows of dataset.
import numpy as np
import pandas as pd
df = pd.read_csv("C:\\Users\\ASUS\\Downloads\\Dataset of exploratory data analysis.csv")
print(df.head())
print('\n This is the top five head info')

In [20]:
#Dataframe specified head returns the top n rows of dataset.
import numpy as np
import pandas as pd
df = pd.read_csv("C:\\Users\\ASUS\\Downloads\\Dataset of exploratory data analysis.csv")
print(df.head(10))
print('\n This is the top ten head info')

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13
5   37           Private  284582    Masters             14
6   49           Private  160187        9th              5
7   52  Self-emp-not-inc  209642    HS-grad              9
8   31           Private   45781    Masters             14
9   42           Private  159449  Bachelors             13

          marital-status         occupation   relationship   race     sex  \
0          Never-married       Adm-clerical  Not-in-family  White    Male
1     Married-civ-spouse    Exec-managerial        Husband  White    Male
2               Divorced  Handlers-cleaners  Not-in-family  White    Male
3     Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4     Married-civ-spouse     Prof-specialty           Wife  Black  Female
5     Married-civ-spouse    Exec-managerial           Wife  White  Female
6  Married-spouse-absent      Other-service  Not-in-family  Black  Female
7     Married-civ-spouse    Exec-managerial        Husband  White    Male
8          Never-married     Prof-specialty  Not-in-family  White  Female
9     Married-civ-spouse    Exec-managerial        Husband  White    Male

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K
5             0             0              40  United-States  <=50K
6             0             0              16        Jamaica  <=50K
7             0             0              45  United-States   >50K
8         14084             0              50  United-States   >50K
9          5178             0              40  United-States   >50K

 This is the top ten head info